body {
  font-family: arial, sans-serif;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 13px;
  min-width: 181px;
  height: 30px;
  padding: 15px 15px 10px 0;
}

.gmail-link, .images-link {
  margin: 0 15px 0 0;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  align-self: center;
  vertical-align: middle;
}

.gmail-link:hover, .images-link:hover {
  text-decoration: underline;
}

.apps-button {
  margin: 0 15px 0 0;
  align-self: center;
  opacity: 0.5;
}

.apps-button:hover {
  opacity: 1.0;
}

.sign-in-button {
  margin: 0 10px 0 0;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #4285f4;
  color: #fff;
  outline: none;
  border-radius: 2px;
  padding: 6px 15px 15px 15px;
  background: -webkit-linear-gradient(top,#4387fd,#4683ea);
}

.sign-in-button:hover {
  opacity: 0.9;
}

.google-logo {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

.search-box-container {
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  height: 44px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
}

.search-box-container:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
}

#search-icon {
  display: flex;
  width: 15px;
  height: 15px;
  margin: auto 0;
  padding: 0 15px;
  opacity: 0.5;
}

#search-box {
  outline: none;
  border: none;
  flex: 100%;
  line-height: 34px;
  font-size: 16px;
  margin: 0 auto;
}

#mic-icon {
  display: flex;
  width: 13px;
  height: 18px;
  margin: auto 0;
  padding: 0 15px;
  opacity: 0.8;
}

.search-buttons-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 50px;
  margin: 25px auto 0;
  width: 25%;
}

.search-buttons {
  margin: 1px 10px;
  padding: 0 16px;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-size: 14px;
}

.search-buttons:hover {
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f2f2f2;
  line-height: 40px;
  border-top: 1px solid #e4e4e4;
  min-width: 980px;
}

.footer-container-left {
  float: left;
  margin-left: 13px;
}

.footer-container-right {
  float: right;
  margin-right: 13px;
}

.footer-item {
  font-size: 13px;
  font-family: arial, sans-serif;
  color: #5f6368;
  text-decoration: none;
  padding: 0 13px;
  margin: 0;
}

.footer-item:hover {
  text-decoration: underline;
}
